 <!DOCTYPE html>
<html>
<head>
    <title>Crop Yield Prediction</title>
</head>
<body>
    <h1>Crop Yield Prediction</h1>
    <form method="POST" action="/predict/">
        {% csrf_token %}
        <label for="Year">Year:</label>
        <input type="text" id="Year" name="Year"><br><br>

        <label for="average_rain_fall_mm_per_year">Average Rainfall (mm per year):</label>
        <input type="text" id="average_rain_fall_mm_per_year" name="average_rain_fall_mm_per_year"><br><br>

        <label for="pesticides_tonnes">Pesticides (tonnes):</label>
        <input type="text" id="pesticides_tonnes" name="pesticides_tonnes"><br><br>

        <label for="avg_temp">Average Temperature:</label>
        <input type="text" id="avg_temp" name="avg_temp"><br><br>

        <label for="Area">Area:</label>
        <input type="text" id="Area" name="Area"><br><br>

        <label for="Item">Item:</label>
        <input type="text" id="Item" name="Item"><br><br>

        <button type="submit">Predict</button>
    </form>
    {% if predicted_yield %}
        <h2>Predicted Yield: {{ predicted_yield }}</h2>
    {% endif %}
</body>
</html>
